[submodule ".vim/bundle/nerdtree.git"]
	path = .vim/bundle/nerdtree.git
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-powerline.git"]
	path = .vim/bundle/vim-powerline.git
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/molokai.git"]
	path = .vim/bundle/molokai.git
	url = https://github.com/tomasr/molokai.git
[submodule ".vim/bundle/vim-surround.git"]
	path = .vim/bundle/vim-surround.git
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/auto-pairs.git"]
	path = .vim/bundle/auto-pairs.git
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule ".vim/bundle/supertab.git"]
	path = .vim/bundle/supertab.git
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/vim-easymotion.git"]
	path = .vim/bundle/vim-easymotion.git
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/vim-colorschemes.git"]
	path = .vim/bundle/vim-colorschemes.git
	url = https://github.com/flazz/vim-colorschemes.git
[submodule ".vim/bundle/vim-commentary.git"]
	path = .vim/bundle/vim-commentary.git
	url = https://github.com/tpope/vim-commentary.git
